{% extends 'auth/unauthorised_base.html'%}
{% block styles %}
{{ super() }}
  <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}playsloth - Home{% endblock %}
{% block home_active %}active{% endblock %}
{% block page_content %}
<h1 class="cover-heading">play your music on any device!</h1>
<a href="{{ url_for('auth.register') }}" type="button" class="btn btn-lg btn-success" >
  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
  play now
</a>
{% endblock %}