{% extends 'auth/unauthorised_base.html' %}
{% block styles %}
{{ super() }}
  <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}playsloth - Register{% endblock %}
{% import "bootstrap/wtf.html" as wtf%}
{% block register_active %}active{% endblock %}
{% block page_content %}
<div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    {{ wtf.quick_form(form) }}
                     </div>
                <div class="panel-footer">
                    Already have an account? <a href="{{ url_for('auth.login') }}">Click here</a> to log in.
                </div>
            </div>
        </div>
{% endblock %}