# compiled python
**.pyc
# db files
**.sqlite
.idea/
**.mp3
**.mp4
**.wav
app/media/
/search.db/
search.db/Album/MAIN_15wo94dffiegjsdg._stored.col
search.db/Album/MAIN_15wo94dffiegjsdg.pst
search.db/Album/MAIN_15wo94dffiegjsdg.trm
search.db/Album/MAIN_5uztqedgsow279dh._stored.col
search.db/Album/MAIN_5uztqedgsow279dh.pst
search.db/Album/MAIN_5uztqedgsow279dh.trm
search.db/Album/MAIN_frpvk01hwpnxyz64._stored.col
search.db/Album/MAIN_frpvk01hwpnxyz64.pst
search.db/Album/MAIN_frpvk01hwpnxyz64.trm
search.db/Album/MAIN_riyjq2p3p56xdtet._stored.col
search.db/Album/MAIN_riyjq2p3p56xdtet.pst
search.db/Album/MAIN_riyjq2p3p56xdtet.trm
