{% extends "base.html" %}

{% block albums_active %}active{% endblock %}
{% block title %}playsloth - Home{% endblock %}
{% block page_content %}
<div class="albums-container container-fluid">
    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
        {% if albums.items %}
            {% for album in albums.items %}
                {% include 'main/albums.html' %}
                <div class="{{ loop.cycle('', '', '', '', '', 'clearfix visible-lg') }}"></div>
            {% endfor %}

        {% else %}
            {% if current_user.is_authenticated %}
                <div class="col-sm-12">
                    <br>
                    <a href="{{ url_for('main.add_album') }}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                        </button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
    {% if albums.items %}
        {% import 'main/_helpers.html' as helpers %}
        {{ helpers.paginate(albums, 'main.index') }}
    {% endif %}
    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                             <audio controls autoplay>
                                            <source src="{{ song.audio_url }}" type="audio/ogg">
                                            <source src="{{ song.audio_url }}" type="audio/wav">
                                            <source src="{{ song.audio_url }}" type="audio/mp3">
                                            <source src="{{ song.audio_url }}" type="audio/mp4">
                                            Your browser does not support audion in this format
                                        </audio>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('main.detail', album_id=song.album.id) }}">
                                                <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{{ url_for('main.detail', album_id=song.album.id) }}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('main.favorite_song', song_id=song.album.id) }}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
