{% extends "base.html" %}
{% block albums_active %}active{% endblock %}
{% block content %}
<div class="albums-container container-fluid">
    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{{ url_for('main.detail', album_id=album.id) }}">
                            <img src="{{ album.logo_url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{{ url_for('main.detail', album_id=album.id) }}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <!--#TODO add quick form here-->
                            <form action="{{ url_for('main.delete_album', album_id=album.id) }}" method="post" style="display: inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <button  onclick="favourite('{{ album.id }}', '#favid')"class="btn btn-default btn-sm btn-favorite" role="button">
                                <span id="favid" class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </button>

                        </div>
                    </div>
                </div>
            <!--#TODO work to do here-->
                {#% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %#}
            {% endfor %}
        {% else %}
            {% if current_user.is_authenticated %}
                <div class="col-sm-12">
                    <br>
                    <a href="{{ url_for('main.add_album') }}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                        </button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('main.detail', album_id=song.album.id) }}">
                                                <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{{ url_for('main.detail', album_id=song.album.id) }}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <!--#TODO look up at this functionality-->
                                            <a href="{{ url_for('main.favourite_song', song_id=song.album.id) }}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
